<framify menu="true" path="home" url="/" title="Home" parent="false" icon="home"  controller="" ></framify>
<ion-content scrollbar-x="false" scrollbar-y="false" style="padding-bottom:40px;">
    <!--<div class="mdl-grid" ng-initi=" app.alert('Welcome to Framify', '<center>Thank you for giving Framify a chance<br><br>We at Bixbyte Appreciate it</center>', 'function(){}')">-->
        
         <!--<div class="mdl-cell mdl-cell--12-col" style="text-align:center;">
           
		

        </div>-->
        <style>
            .slider{
                height:100%;
                text-align: center;
            }
            .scroll{
                height: 100%;
            }
            .slide{
                width: 100%;
                height: 100%;   
            }
            .framify-slide1{
                background-image: url(../assets/img/bg2.png);
                
            }
            .framify-slide2{
                 background-image: url(../assets/img/bg2.png);
                 background-repeat: repeat;      
            }	
	   </style>
        <ion-slide-box  pager-click="app.navSlide(index)" autoplay="true" does-repeat="true">
	       
                <ion-slide>
                    
                    <div class="slide framify-slide2">
                        <div class="" style=""><br><br>
                            <span class="framify"> fram!fy</span>
                        </div>
                    </div>
                    
                </ion-slide>
           
                <ion-slide>
                    
                    <div class="slide framify-slide1">
                        <div class="" style=""><br><br>
                            <span class="framify2" style="font-size:4em;"><sup>by</sup> </span>
                            <span class="bixbyte" style="font-size:9em"> B!xbyte</span>
                        </div> 
                    </div>
                    
                </ion-slide>
           
	   </ion-slide-box>
            
    
    <!--</div>-->
</ion-content>
