 <framify  path="chips" url="/chips" title="Chips" menu="true" parent="" controller="" icon=""></framify>
<ion-content scrollbar-x="false" scrollbar-y="false" style="padding-bottom:20px;">
 <md-chips >
    <md-chip>Hockey</md-chip>
    <md-chip>Lacrosse</md-chip>
    <md-chip>Baseball</md-chip>
    <md-chip>Hockey</md-chip>
    <md-chip>Lacrosse</md-chip>
    <md-chip>Baseball</md-chip>
    <md-chip>Hockey</md-chip>
    <md-chip>Lacrosse</md-chip>
    <md-chip>Baseball</md-chip>
    <md-chip>Hockey</md-chip>
    <md-chip>Lacrosse</md-chip>
    <md-chip>Baseball</md-chip>
    <md-chip>Hockey</md-chip>
    <md-chip>Lacrosse</md-chip>
    <md-chip>Baseball</md-chip>
    <md-chip>Hockey</md-chip>
    <md-chip>Lacrosse</md-chip>
    <md-chip>Baseball</md-chip>
    <md-chip>SIMPLE MD-CHIPS => MD-CHIP</md-chip>
  </md-chips>   
</ion-content>