<framify menu="true" path="cards" url="/cards" title="Cards" parent="false" icon="chat" controller=""></framify>
<ion-content scrollbar-x="false" scrollbar-y="false" style="padding-bottom:20px;"> 
    <div class="mdl-cell mdl-cell--10-col" ng-repeat="link in links"  style="margin:0 auto;">
        
        <div class="md-card mdl-shadow--2dp" >
            <div class="mdl-cell mdl-cell--12-col" style="margin:10px;">
                <span class="mdl-layout__title">{{link.title}}</span>
            </div>
    <!--       <div class="mdl-col mdl-col--12-col">-->
            <div class="mdl-actions" layout="row" layout-align="end center">
    
                <button class="mdl-col mdl-col--2-col pull-right mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="min-width:100px; margin:5px;" ng-click="sav()">SAVE</button>
    
                <button class="mdl-col mdl-col--2-col pull-right mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="min-width:100px; margin:5px;" ng-click="del()">DELETE</button>
    
            </div>
            
        </div>
        
    </div>
</ion-content>