<framifys menu="true"  path="examples" url="/examples" title="Examples" parent="false" icon="assignment" controller="" ></framify> <!-- appController -->

	<!--<div class="navbar navbar-success">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-success-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)">Brand</a>
    </div>
    <div class="navbar-collapse collapse navbar-success-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="javascript:void(0)">Active</a></li>
        <li><a href="javascript:void(0)">Link</a></li>
        <li class="dropdown">
          <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)">Action</a></li>
            <li><a href="javascript:void(0)">Another action</a></li>
            <li><a href="javascript:void(0)">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Dropdown header</li>
            <li><a href="javascript:void(0)">Separated link</a></li>
            <li><a href="javascript:void(0)">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control col-md-8" placeholder="Search">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void(0)">Link</a></li>
        <li class="dropdown">
          <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)">Action</a></li>
            <li><a href="javascript:void(0)">Another action</a></li>
            <li><a href="javascript:void(0)">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="javascript:void(0)">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
	<h1>List Icons</h1>
	<div class="list">

		<a class="item item-divider item-icon-left" href="#">
			<i class="icon ion-email"></i>
			Check mail
		</a>
		
		<a class="item item-divider item-icon-left item-icon-right" href="#">
			<i class="icon ion-chatbubble-working"></i>
			Call Ma
			<i class="icon ion-ios-telephone-outline"></i>
		</a>
		
		<a class="item item-icon-left item-divider" href="#">
			<i class="icon ion-mic-a"></i>
			Record album
			<span class="item-note">
			Grammy
			</span>
		</a>
		
		<a class="item item-icon-left item-divider" href="#">
			<i class="icon ion-person-stalker"></i>
			Friends
			<span class="badge badge-assertive">0</span>
		</a>
	
	</div>
	
	<br><br>
	<h1>List Buttons</h1>
	<div class="list">

		<div class="item item-button-right item-divider">
			Call Ma
			<button class="button button-positive">
			<i class="icon ion-ios-telephone"></i>
			</button>
		</div>

		<div class="item item-button-right item-divider">
			Call Mo
			<button class="button button-positive">
			<i class="icon ion-ios-telephone"></i>
			</button>
		</div>
	
	</div>
	
	<br><br>
	<h1>Item Avatars</h1>
	<div class="list">
	
		<a class="item item-avatar item-divider" href="#">
		<img src="venkman.jpg">
		<h2>Venkman</h2>
		<p>Back off, man. I'm a scientist.</p>
		</a>

		<a class="item item-avatar item-divider" href="#">
		<img src="venkman.jpg">
		<h2>Venkman</h2>
		<p>Back off, man. I'm a scientist.</p>
		</a>
	
	</div>
	
	<br><br>
	<h1>Item Thumbnails</h1>
	<div class="list">

		<a class="item item-thumbnail-left" href="#">
		<img src="cover.jpg">
		<h2>Pretty Hate Machine</h2>
		<p>Nine Inch Nails</p>
		</a>
	
	</div>
	
	<br><br>
	<h1>Inset Lists</h1>
	<div class="list list-inset">

		<div class="item item-divider">
		Raiders of the Lost Ark
		</div>
		
		<div class="item item-divider">
		Raiders of the Lost Ark
		</div>
		
		<div class="item item-divider">
		Raiders of the Lost Ark
		</div>
		
	</div>
	
	<br><br>
	<h1>Cards</h1>
	<div class="card">
		<div class="item item-text-wrap item-divider">
			This is a basic Card which contains an item that has wrapping text.
		</div>
		<br>
		<div class="item item-text-wrap item-divider">
			This is a basic Card which contains an item that has wrapping text.
		</div>
		<br>
		<div class="item item-text-wrap item-divider">
			This is a basic Card which contains an item that has wrapping text.
		</div>
		<br>
		<div class="item item-text-wrap item-divider">
			This is a basic Card which contains an item that has wrapping text.
		</div>
	</div>
	
	<br><br>
	<h1>Card Lists</h1>
	<div class="list card">

		<a href="#" class="item item-icon-left item-divider">
			<i class="icon ion-home"></i>
			Enter home address
		</a>
		
		<a href="#" class="item item-icon-left item-divider">
			<i class="icon ion-ios-telephone"></i>
			Enter phone number
		</a>
		
		<a href="#" class="item item-icon-left item-divider">
			<i class="icon ion-wifi"></i>
			Enter wireless password
		</a>
		
		<a href="#" class="item item-icon-left item-divider">
			<i class="icon ion-card"></i>
			Enter card information
		</a>
	
	</div>
	
	<br><br>
	<h1>Toggle</h1>
	<ul class="list">

		<li class="item item-toggle item-divider">
			HTML5
			<label class="toggle toggle-calm">
			<input type="checkbox">
			<div class="track">
				<div class="handle"></div>
			</div>
			</label>
		</li>
		
		<li class="item item-toggle item-divider">
			HTML5
			<label class="toggle toggle-assertive">
			<input type="checkbox">
			<div class="track">
				<div class="handle"></div>
			</div>
			</label>
		</li>
		
	</ul>
	
	<br>
	<br>
	<br>
	
	<h1>Range</h1>
	<div class="item range">
		<i class="icon ion-volume-low"></i>
		<input type="range" name="volume">
		<i class="icon ion-volume-high"></i>
	</div>
	
	<div class="list">
	<div class="item range range-positive">
		<i class="icon ion-ios-sunny-outline"></i>
		<input type="range" name="volume" min="0" max="100" value="33">
		<i class="icon ion-ios-sunny"></i>
	</div>
	</div>

	<br>
	<br>
	<br>
	
	<h1>Charts</h1>
	<div style="padding:10px;" ng-controller="framifySampleController">
		<canvas id="line" class="chart chart-line" chart-data="data"
		chart-labels="labels" chart-series="series" chart-options="options"
		chart-dataset-override="datasetOverride" chart-click="onClick"
		</canvas> 
	</div>
	
	<br>
	<br>
	<br>
-->


<div class="uk-grid">
	<div class="uk-width-1-1">
			<div class="md-card">
					<div class="md-card-toolbar">
							<div class="md-card-toolbar-actions">
									<i class="md-icon material-icons md-card-fullscreen-activate"></i>
									<i class="md-icon material-icons"></i>
									<div class="md-card-dropdown" data-uk-dropdown="{pos:'bottom-right'}" aria-haspopup="true" aria-expanded="false">
											<i class="md-icon material-icons"></i>
											<div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom" style="min-width: 160px; top: 32px; left: -128px;">
													<ul class="uk-nav">
															<li><a href="#">Action 1</a></li>
															<li><a href="#">Action 2</a></li>
													</ul>
											</div>
									</div>
							</div>
							<h3 class="md-card-toolbar-heading-text">
									Title
							</h3>
					</div>
					<div class="md-card-content">
							
						<div>
						
								<div 
										style="color:white; font-weight:bold; font-family:Courier New, Courier, monospace;padding: 5px;background-color: darkblue;">

																	&lt;div class=&quot;uk-grid&quot;&gt;
                &lt;div class=&quot;uk-width-1-1&quot;&gt;
                    &lt;div class=&quot;md-card&quot;&gt;
                        &lt;div class=&quot;md-card-toolbar&quot;&gt;
                            &lt;div class=&quot;md-card-toolbar-actions&quot;&gt;
                                &lt;i class=&quot;md-icon material-icons md-card-fullscreen-activate&quot;&gt;&amp;#xE5D0;&lt;/i&gt;
                                &lt;i class=&quot;md-icon material-icons&quot;&gt;&amp;#xE5D5;&lt;/i&gt;
                                &lt;div class=&quot;md-card-dropdown&quot; data-uk-dropdown=&quot;{pos:'bottom-right'}&quot;&gt;
                                    &lt;i class=&quot;md-icon material-icons&quot;&gt;&amp;#xE5D4;&lt;/i&gt;
                                    &lt;div class=&quot;uk-dropdown uk-dropdown-small&quot;&gt;
                                        &lt;ul class=&quot;uk-nav&quot;&gt;
                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Action 1&lt;/a&gt;&lt;/li&gt;
                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Action 2&lt;/a&gt;&lt;/li&gt;
                                        &lt;/ul&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;h3 class=&quot;md-card-toolbar-heading-text&quot;&gt;
                                Chart
                            &lt;/h3&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;md-card-content&quot;&gt;
                            &lt;div class=&quot;mGraph-wrapper&quot;&gt;
                                &lt;div id=&quot;mGraph_sale&quot; class=&quot;mGraph&quot;&gt;&lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;md-card-fullscreen-content&quot;&gt;
                                &lt;div class=&quot;uk-overflow-container&quot;&gt;
                                    &lt;table class=&quot;uk-table uk-table-no-border uk-text-nowrap&quot;&gt;
                                    &lt;thead&gt;
                                        &lt;tr&gt;
                                            &lt;th&gt;Date&lt;/th&gt;
                                            &lt;th&gt;Best Seller&lt;/th&gt;
                                            &lt;th&gt;Total Sale&lt;/th&gt;
                                            &lt;th&gt;Change&lt;/th&gt;
                                        &lt;/tr&gt;
                                    &lt;/thead&gt;
                                    &lt;tbody&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;January 2014&lt;/td&gt;
                                            &lt;td&gt;Voluptatem dolore voluptatem sit.&lt;/td&gt;
                                            &lt;td&gt;$3 234 162&lt;/td&gt;
                                            &lt;td&gt;0&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;February 2014&lt;/td&gt;
                                            &lt;td&gt;Voluptatem et debitis.&lt;/td&gt;
                                            &lt;td&gt;$3 771 083&lt;/td&gt;
                                            &lt;td class=&quot;uk-text-success&quot;&gt;+2.5%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;March 2014&lt;/td&gt;
                                            &lt;td&gt;Animi distinctio error.&lt;/td&gt;
                                            &lt;td&gt;$2 429 352&lt;/td&gt;
                                            &lt;td class=&quot;uk-text-danger&quot;&gt;-4.6%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;April 2014&lt;/td&gt;
                                            &lt;td&gt;Blanditiis atque nam deleniti.&lt;/td&gt;
                                            &lt;td&gt;$4 844 169&lt;/td&gt;
                                            &lt;td class=&quot;uk-text-success&quot;&gt;+7%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;May 2014&lt;/td&gt;
                                            &lt;td&gt;Sed modi dolorem.&lt;/td&gt;
                                            &lt;td&gt;$5 284 318&lt;/td&gt;
                                            &lt;td class=&quot;uk-text-success&quot;&gt;+3.2%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;June 2014&lt;/td&gt;
                                            &lt;td&gt;Dolorem quis fugit.&lt;/td&gt;
                                            &lt;td&gt;$4 688 183&lt;/td&gt;
                                            &lt;td class=&quot;uk-text-danger&quot;&gt;-6%&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;July 2014&lt;/td&gt;
                                            &lt;td&gt;Enim sapiente debitis a.&lt;/td&gt;
                                            &lt;td&gt;$4 353 427&lt;/td&gt;
                                            &lt;td class=&quot;uk-text-success&quot;&gt;-5.3%&lt;/td&gt;
                                        &lt;/tr&gt;
                                    &lt;/tbody&gt;
                                &lt;/table&gt;
                                &lt;/div&gt;
                                &lt;p class=&quot;uk-margin-large-top uk-margin-small-bottom heading_list uk-text-success&quot;&gt;Some Info:&lt;/p&gt;
                                &lt;p class=&quot;uk-margin-top-remove&quot;&gt;Numquam et aperiam aut est sed quis aliquid accusantium fugit voluptatibus quasi numquam explicabo in amet laborum ea dolores vel aut et impedit voluptatem maiores laborum facilis iusto non sit accusamus dolores dicta illo quia doloremque magnam odit debitis nemo incidunt praesentium facilis dolore inventore quia suscipit dolorem ea est natus ullam ea aspernatur tempore et accusantium voluptates consequuntur optio et ipsam ratione quisquam ut repellendus magni sint doloribus praesentium nemo repudiandae esse rerum non dignissimos saepe qui est quia quaerat ut ipsam alias cupiditate qui voluptatem cum commodi enim assumenda accusamus et quis nostrum praesentium laboriosam et nostrum quam dolorem ipsam culpa repudiandae voluptas delectus asperiores fugiat est quae voluptatibus a qui et provident laborum quis fugiat aut veritatis cumque ut rerum laudantium quod at omnis harum.&lt;/p&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;

										</div>

						</div>

							<div class="md-card-fullscreen-content">
									<div class="uk-overflow-container">
											
										Your Fullscreen Content goes here

									

											
									</div>
									
							</div>
					</div>
			</div>
	</div>
</div>

<!--



 -->

<div class="uk-grid uk-grid-width-small-1-2 uk-grid-width-large-1-3 uk-grid-width-xlarge-1-5 uk-text-center uk-sortable sortable-handler" id="dashboard_sortable_cards" data-uk-sortable="" data-uk-grid-margin="">
	<div class="">
			<div class="md-card md-card-hover md-card-overlay">
					<div class="md-card-content">
							<div class="epc_chart" data-percent="76" data-bar-color="#03a9f4">
									<span class="epc_chart_icon"><i class="material-icons"></i></span>
							<canvas height="110" width="110"></canvas></div>
					</div>
					<div class="md-card-overlay-content">
							<div class="uk-clearfix md-card-overlay-header">
									<i class="md-icon material-icons md-card-overlay-toggler"></i>
									<h3>
											User Messages
									</h3>
							</div>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias consectetur.
					</div>
			</div>
	</div>
	<div class="">
			<div class="md-card md-card-hover md-card-overlay">
					<div class="md-card-content uk-flex uk-flex-center uk-flex-middle">
							<span class="peity_conversions_large peity_data" style="display: none;">5,3,9,6,5,9,7</span><svg class="peity" height="64" width="96"><rect fill="#d84315" x="2.7428571428571433" y="28.444444444444443" width="8.22857142857143" height="35.55555555555556"></rect><rect fill="#d84315" x="16.457142857142856" y="42.66666666666667" width="8.228571428571431" height="21.33333333333333"></rect><rect fill="#d84315" x="30.171428571428574" y="0" width="8.228571428571417" height="64"></rect><rect fill="#d84315" x="43.88571428571429" y="21.333333333333336" width="8.228571428571414" height="42.666666666666664"></rect><rect fill="#d84315" x="57.60000000000001" y="28.444444444444443" width="8.228571428571414" height="35.55555555555556"></rect><rect fill="#d84315" x="71.31428571428572" y="0" width="8.228571428571414" height="64"></rect><rect fill="#d84315" x="85.02857142857144" y="14.222222222222221" width="8.228571428571414" height="49.77777777777778"></rect></svg>
					</div>
					<div class="md-card-overlay-content">
							<div class="uk-clearfix md-card-overlay-header">
									<i class="md-icon material-icons md-card-overlay-toggler"></i>
									<h3>
											Conversions
									</h3>
							</div>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</div>
			</div>
	</div>
	<div class="uk-grid-margin">
			<div class="md-card md-card-hover md-card-overlay md-card-overlay-active">
					<div class="md-card-content" id="canvas_1">
							<div class="epc_chart" data-percent="37" data-bar-color="#9c27b0">
									<span class="epc_chart_icon"><i class="material-icons"></i></span>
							<canvas height="110" width="110"></canvas></div>
					</div>
					<div class="md-card-overlay-content">
							<div class="uk-clearfix md-card-overlay-header">
									<i class="md-icon material-icons md-card-overlay-toggler"></i>
									<h3>
											Tasks List
									</h3>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							<button class="md-btn md-btn-primary">More</button>
					</div>
			</div>
	</div>
	<div class="uk-grid-margin">
			<div class="md-card md-card-hover md-card-overlay">
					<div class="md-card-content">
							<div class="epc_chart" data-percent="37" data-bar-color="#607d8b">
									<span class="epc_chart_icon"><i class="material-icons"></i></span>
							<canvas height="110" width="110"></canvas></div>
					</div>
					<div class="md-card-overlay-content">
							<div class="uk-clearfix md-card-overlay-header">
									<i class="md-icon material-icons md-card-overlay-toggler"></i>
									<h3>
											User Registrations
									</h3>
							</div>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</div>
			</div>
	</div><div class="uk-grid-margin">
			<div class="md-card md-card-hover md-card-overlay">
					<div class="md-card-content">
							<div class="epc_chart" data-percent="53" data-bar-color="#009688">
									<span class="epc_chart_text"><span class="countUpMe">53</span>%</span>
							<canvas height="110" width="110"></canvas></div>
					</div>
					<div class="md-card-overlay-content">
							<div class="uk-clearfix md-card-overlay-header">
									<i class="md-icon material-icons md-card-overlay-toggler"></i>
									<h3>
											Orders
									</h3>
							</div>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</div>
			</div>
	</div>
	
</div>

<!--


-->



 <!--<script>
        $(function() {
            var $switcher = $('#style_switcher'),
                $switcher_toggle = $('#style_switcher_toggle'),
                $theme_switcher = $('#theme_switcher'),
                $mini_sidebar_toggle = $('#style_sidebar_mini'),
                $boxed_layout_toggle = $('#style_layout_boxed'),
                $body = $('body');


            $switcher_toggle.click(function(e) {
                e.preventDefault();
                $switcher.toggleClass('switcher_active');
            });

            $theme_switcher.children('li').click(function(e) {
                e.preventDefault();
                var $this = $(this),
                    this_theme = $this.attr('data-app-theme');

                $theme_switcher.children('li').removeClass('active_theme');
                $(this).addClass('active_theme');
                $body
                    .removeClass('app_theme_a app_theme_b app_theme_c app_theme_d app_theme_e app_theme_f app_theme_g')
                    .addClass(this_theme);

                if (this_theme == '') {
                    localStorage.removeItem('altair_theme');
                } else {
                    localStorage.setItem("altair_theme", this_theme);
                }

            });

            // hide style switcher
            $document.on('click keyup', function(e) {
                if ($switcher.hasClass('switcher_active')) {
                    if (
                        (!$(e.target).closest($switcher).length) ||
                        (e.keyCode == 27)
                    ) {
                        $switcher.removeClass('switcher_active');
                    }
                }
            });

            // get theme from local storage
            if (localStorage.getItem("altair_theme") !== null) {
                $theme_switcher.children('li[data-app-theme=' + localStorage.getItem("altair_theme") + ']').click();
            }


            // toggle mini sidebar

            // change input's state to checked if mini sidebar is active
            if ((localStorage.getItem("altair_sidebar_mini") !== null && localStorage.getItem("altair_sidebar_mini") == '1') || $body.hasClass('sidebar_mini')) {
                $mini_sidebar_toggle.iCheck('check');
            }

            $mini_sidebar_toggle
                .on('ifChecked', function(event) {
                    $switcher.removeClass('switcher_active');
                    localStorage.setItem("altair_sidebar_mini", '1');
                    location.reload(true);
                })
                .on('ifUnchecked', function(event) {
                    $switcher.removeClass('switcher_active');
                    localStorage.removeItem('altair_sidebar_mini');
                    location.reload(true);
                });


            // toggle boxed layout

            // change input's state to checked if mini sidebar is active
            if ((localStorage.getItem("altair_layout") !== null && localStorage.getItem("altair_layout") == 'boxed') || $body.hasClass('boxed_layout')) {
                $boxed_layout_toggle.iCheck('check');
                $body.addClass('boxed_layout');
                $(window).resize();
            }

            // toggle mini sidebar
            $boxed_layout_toggle
                .on('ifChecked', function(event) {
                    $switcher.removeClass('switcher_active');
                    localStorage.setItem("altair_layout", 'boxed');
                    location.reload(true);
                })
                .on('ifUnchecked', function(event) {
                    $switcher.removeClass('switcher_active');
                    localStorage.removeItem('altair_layout');
                    location.reload(true);
                });


        });
    </script>-->