<framify menu="false"  path="emil" url="/emil" title="Emil" parent="false" icon="person-pin" controller="" ></framify>
<ion-content scrollbar-x="false" scrollbar-y="false" style="padding-bottom:20px;">
	
	<button ng-click="app.alert('Emil\'s Application','<center>You Clicked Me</center>', app.confirm('Emil\'s Application','Are you sure?', app.doNothing, app.doNothing))" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" style="min-width: 200px; margin-bottom:10px;">>Do something</button>

</ion-content>