<framify menu="true" path="mail" url="/mail" title="Email" parent="false" icon="email" controller="" ></framify>
<ion-content scrollbar-x="false" scrollbar-y="false" style="padding-bottom:20px;">
  <div class="mdl-grid" ng-init="app.doNothing()">
    
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="sample1">
        <label class="mdl-textfield__label" for="sample1">Text...</label>
      </div>
    </form>
    
  </div>
</ion-content>