         <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Link</a></li>                    
                    <li class="active">Active</li>
                </ul>
                <!-- END BREADCRUMB -->                
                
                <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span> {{title}}</h2>
                </div>                   
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                
                    <div class="row">
                        <div class="col-md-12">
                            
                            <!--<form class="form-horizontal" id="school_form" onsubmit="return false;" enctype="multipart/form-data">-->
                            <form class="form-horizontal" id="teacher_form" ng-submit="pushData(frm)">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Adding Teachers</strong> Details</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <p>Use this form to add the teacher and there details to the database. Add the teacher name, email, phone number, course he or she will be offering and other essential details.</p>
                                </div>
                                
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Teacher's name:</label>
                                        <div class="col-md-3">                                            
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                                <input type="text" class="form-control" name="teachers_fname" ng-model="frm.teachers_fname" />
                                            </div>                                            
                                            <span class="help-block">First name</span>
                                        </div>
                                        <div class="col-md-3">                                            
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                                <input type="text" class="form-control" name="teachers_lname" ng-model="frm.teachers_lname" />
                                            </div>                                            
                                            <span class="help-block">Last name.</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Teacher's details:</label>
                                        <div class="col-md-3">                                            
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-envelope-o"></span></span>
                                                <input type="text" class="form-control" name="teachers_email" ng-model="frm.teachers_email" />
                                            </div>                                            
                                            <span class="help-block">Add teacher's email. <strong>***Optional***</strong></span>
                                        </div>
                                        <div class="col-md-3">                                            
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-phone"></span></span>
                                                <input type="text" class="form-control" name="teachers_phone" ng-model="frm.teachers_phone" />
                                            </div>                                            
                                            <span class="help-block">Add the teachers phone number. <strong>***Optional***</strong></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Course/courses teaching:</label>
                                        <div class="col-md-6 col-xs-12">                                                                                            
                                            <input type="text" class="tagsinput" name="teacher_subject" ng-model="frm.teacher_subject"/>
                                            <span class="help-block">Default textarea field</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Password:</label>
                                        <div class="col-md-6 col-xs-12">                                            
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                                                <input type="password" class="form-control" name="teachers_password" ng-model="frm.teachers_password" placeholder=""/>
                                            </div>
                                        <span class="help-block">Assign a password for the teacher</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Maximum working hours:</label>
                                        <div class="col-md-6 col-xs-12">                                            
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                                <input type="text" class="form-control" name="teacher_maxload" ng-model="frm.teacher_maxload" placeholder=""/>
                                            </div>
                                        <span class="help-block">Maximum working hours for the teacher in a week. <strong>***Optional***</strong></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Unavailable days</label>
                                        <div class="col-md-6 col-xs-12">                                            
                                            <textarea class="form-control" rows="5" ng-model="frm.teachers_days" name="teachers_days"></textarea>
                                            <span class="help-block">the days the teacher wont be available in school. <strong>***Optional***</strong></span>
                                        </div>
                                    </div>

                                </div>

                                <div class="panel-footer">
                                    <button class="btn btn-default">Clear Form</button>
                                    <!--<input type="submit" class="btn btn-primary pull-right" value="Submit" onclick="return submit()" >-->
                                    <button class="btn btn-primary pull-right" type="submit">Submit</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>                    
                    
                </div>
                <!-- END PAGE CONTENT WRAPPER -->