<md-chips >
  <md-chip>Hockey</md-chip>
  <md-chip>Lacrosse</md-chip>
  <md-chip>Baseball</md-chip>
  <md-chip>Hockey</md-chip>
  <md-chip>Lacrosse</md-chip>
  <md-chip>Baseball</md-chip>
  <md-chip>Hockey</md-chip>
  <md-chip>Lacrosse</md-chip>
  <md-chip>Baseball</md-chip>
  <md-chip>Hockey</md-chip>
  <md-chip>Lacrosse</md-chip>
  <md-chip>Baseball</md-chip>
  <md-chip>Hockey</md-chip>
  <md-chip>Lacrosse</md-chip>
  <md-chip>Baseball</md-chip>
  <md-chip>Hockey</md-chip>
  <md-chip>Lacrosse</md-chip>
  <md-chip>Baseball</md-chip>
  <md-chip>SIMPLE MD-CHIPS => MD-CHIP</md-chip>
</md-chips>    