<div class="" ng-init="handlers.isLogedIn().then(app.doNothing).catch(app.doNothing)"></div>
<div class="md-card" style="font-family: Andale Mono,Andalemono">
    <form name="login_form" class="" style="" novalidate>
        <div class="md-card-content">
            <h3 class="heading_a">LOGIN</h3>
            <div class="uk-grid" data-uk-grid-margin>

                

                <div style="margin-top:1em !important;"  class="uk-width-large-4-4 uk-width-medium-2-2">
                    <label>Email <sup style="color:red">*</sup></label>
                    <input 
                        type="text" 
                        class="md-input"
                        name="email" 
                        ng-model="data.login.email" 
                        ng-pattern="app.isemail"
                    required>
                    <div 
                        class="help-block" 
                        style="font-family: Andale Mono;color:lightgray;" 
                        ng-messages="login_form.email.$error" ng-if="login_form.email.$touched">
                            <p ng-message="required">An email address is required.</p>
                            <p ng-message="pattern">Please enter a valid email address.</p>
                    </div>
                </div>

                <br>

                 <div style="margin-top:1em !important;"  class="uk-width-large-4-4 uk-width-medium-2-2">
                    <label>Password <sup style="color:red">*</sup></label>
                    <input 
                    name="password"
                    type="password" 
                    class="md-input"
                    ng-model="data.login.password" 
                    ng-pattern="app.ispassword" 
                    required>
                    <div 
                        class="help-block" 
                        style="font-family: Andale Mono;color:lightgray;" 
                        ng-messages="login_form.password.$error" ng-if="login_form.password.$touched">
                            <p ng-message="required">A password is required.</p>
                            <p ng-message="pattern">Please enter a more secure password.</p>
                    </div>
                </div>

                <br>
                <div style="margin-top:1em !important;" class="uk-width-large-4-4 uk-width-medium-2-2">
                    <button  
                    ng-disabled="login_form.$invalid" 
                    ng-click="auth.Login(data.login).then(handlers.loginSuccess).catch(handlers.loginError)"
                    ng-class="{'md-btn-primary' : !login_form.$invalid }"
                    class="md-btn "> LOGIN</button>
                    <br>
                    New here? <a class="" ng-click="goTo('app.signup')">Create an Account</a>
                </div>

            </div>

        </div>

    </form>

</div>




