<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Forms</a></li>                    
    <li class="active">Add Student</li>
</ul>
<!-- END BREADCRUMB -->                

<div class="page-title">                    
    <h2><span class="fa fa-arrow-circle-o-left"></span> {{title}}</h2>
</div>                   

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            
            <!--<form class="form-horizontal" id="school_form" onsubmit="return false;" enctype="multipart/form-data">-->
            <form class="form-horizontal" name="student_form" id="student_form">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Adding Student</strong> Details</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <p>Use this form to add the student and there details to the database. Add the student name, parents or guardian details, gender, class, and other relevant information about the student.</p>
                </div>
                
                <div class="panel-body">


                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Student Name</label>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                <input type="text" class="form-control" ng-model="data.students.first_name" name="first_name" placeholder="First Name"/>
                            </div> 
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                <input type="text" class="form-control" ng-model="frm.middle_name" name="middle_name" placeholder="Middle Name"/>
                            </div> 
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                <input type="text" class="form-control" ng-model="frm.last_name" name="last_name" placeholder="Last Name"/>
                            </div> 
                        </div>                                        
                    </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Student ID</label>
                            <div class="col-md-6 col-xs-12">                                            
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" name="student_id" ng-model="data.students.student_id"/>
                                </div>                                            
                                <span class="help-block">Enter a class name</span>
                            </div>
                        </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Gender </label>
                        <div class="col-md-6 col-xs-12">                                                                                            
                            <select class="form-control select" ng-model="frm.student_gender" name="student_gender">
                                <option value="">Select gender...</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                            <span class="help-block">Select gender</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Father's details:</label>
                        <div class="col-md-3">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" name="father_name" ng-model="frm.father_name" />
                            </div>                                            
                            <span class="help-block">Add the student's father name</span>
                        </div>
                        <div class="col-md-3">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-phone"></span></span>
                                <input type="text" class="form-control" name="father_phone" ng-model="frm.father_phone" />
                            </div>                                            
                            <span class="help-block">Add the student's father phone number</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Mother's name:</label>
                        <div class="col-md-3">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" name="mother_name" ng-model="frm.mother_name" />
                            </div>                                            
                            <span class="help-block">Add the student's mothers name</span>
                        </div>
                        <div class="col-md-3">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-phone"></span></span>
                                <input type="text" class="form-control" name="mother_phone" ng-model="frm.mother_phone" />
                            </div>                                            
                            <span class="help-block">Add the student's mother phone number</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Enter Class/Grade </label>
                        <div class="col-md-6 col-xs-12">                                                                                            
                            <input type="text" class="form-control" name="student_class" ng-model="frm.student_class" />
                            <span class="help-block">Enter Class/Grade</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Other Details</label>
                        <div class="col-md-6 col-xs-12">                                            
                            <textarea class="form-control" rows="5" ng-model="frm.student_details" name="student_details"></textarea>
                            <span class="help-block">Default student details field eg. Address, Phone No:</span>
                        </div>
                    </div>                        
                    
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label"><span class="fa fa-download"></span> Relevant student files upload</label>
                        <div class="col-md-6 col-xs-12">
                            <input type="file" multiple class="file" ng-model="frm.student_file" name="student_file" data-preview-file-type="any"/>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Student password:</label>
                        <div class="col-md-6 col-xs-12">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                                <input type="password" class="form-control" name="student_password" ng-model="frm.student_password" />
                            </div>                                            
                            <span class="help-block">Give the student a password to use when logging to the system</span>
                        </div>
                    </div> 
                    
                </div>

                <div class="panel-footer">
                    <button class="btn btn-default">Clear Form</button>
                    <!--<input type="submit" class="btn btn-primary pull-right" value="Submit" onclick="return submit()" >-->
                    <button class="btn btn-primary pull-right" type="submit">Submit</button>
                </div>
            </div>
            </form>
        </div>
    </div>                    
    
</div>
<!-- END PAGE CONTENT WRAPPER -->             
            
