                  
                <div class="" ng-init="fetch([['levels'],['streams'],['users'],['teachers'],['classes']])"></div>
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="/#/">Administrator</a></li>                    
                    <li class="active">Manage Classes</li>
                </ul>
                <!-- END BREADCRUMB -->                
                
                <!--<div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span> {{title}}</h2>
                </div>                   
                -->
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                
                    <div class="row">
                       
                        <div class="col-md-12">
                           
                            <button class="btn btn-primary" ng-click="frmToggle()">Classes Management</button>
                            <br>
                            <!--<form class="form-horizontal" id="school_form" onsubmit="return false;" enctype="multipart/form-data">-->
                            <form class="form-horizontal" name="classForm" id="classForm" novalidate>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><strong>Adding classes</strong> .</h3>
                                        <ul class="panel-controls">
                                             <li><a href="/#/" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="panel-body">
                                        <p>This manages the different classes in the school.</p>
                                    </div>
                                    
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Level </label>
                        <div class="col-md-6 col-xs-12">                                                                                            
                            <select class="form-control select" 
                            ng-model="data.classes.level" 
                            name="level">
                                <option value="" selected>Select Level...</option>
                                <option ng-repeat="level in fetched.levels" value="{{level.level_id}}">{{level.title}}</option>
                            </select>
                            <span ng-if="!data.classes.level" class="help-block">Select level.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Streams </label>
                        <div class="col-md-6 col-xs-12">                                                                                            
                            <select class="form-control select" 
                            ng-model="data.classes.stream" 
                            name="stream">
                                <option value="" selected>Select Streams...</option>
                                <option ng-repeat="stream in fetched.streams" value="{{stream.stream_id}}">{{stream.stream_id}}</option>
                            </select>
                            <span ng-if="!data.classes.stream" class="help-block">Select stream.</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Class Teacher </label>
                        <div class="col-md-6 col-xs-12">                                                                                            
                            <select class="form-control select" 
                            ng-model="data.classes.teacher" 
                            name="teacher">
                                <option value="" selected>Select class teacher...</option>
                                <option ng-repeat="user in fetched.users" value="{{user.user_id}}">{{user.name}}</option>
                            </select>
                            <span ng-if="!data.classes.teacher" class="help-block">Select class teacher.</span>
                        </div>
                    </div>
                   
                        <div class="panel-footer">
                            <button type="reset" class="btn btn-default">Clear Form</button>
                            <!--<input type="submit" class="btn btn-primary pull-right" value="Submit" onclick="return submit()" >-->
                            <button 
                            ng-disabled="!classForm.$valid" 
                            class="btn btn-primary pull-right" 
                            ng-click="add('classes',data.classes)"
                            type="submit">Submit</button>
                        </div>
                    
                </div>
            </form>

        
            <!-- START DATATABLE EXPORT -->
                        <div class="panel panel-default">
                            <div id="my-data"></div>
                            <div class="panel-heading">

                                <h3 class="panel-title">DataTable Export</h3>
                                <div class="btn-group pull-right">
                                    
                                    <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Data</button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'json',escape:'false'});"><img src='img/icons/json.png' width="24"/> JSON</a></li>
                                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'json',escape:'false',ignoreColumn:'[2,3]'});"><img src='img/icons/json.png' width="24"/> JSON (ignoreColumn)</a></li>
                                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'json',escape:'true'});"><img src='img/icons/json.png' width="24"/> JSON (with Escape)</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'xml',escape:'false'});"><img src='img/icons/xml.png' width="24"/> XML</a></li>
                                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'sql'});"><img src='img/icons/sql.png' width="24"/> SQL</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'csv',escape:'false'});"><img src='img/icons/csv.png' width="24"/> CSV</a></li>
                                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'txt',escape:'false'});"><img src='img/icons/txt.png' width="24"/> TXT</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'excel',escape:'false'});"><img src='img/icons/xls.png' width="24"/> XLS</a></li>
                                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'doc',escape:'false'});"><img src='img/icons/word.png' width="24"/> Word</a></li>
                                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'powerpoint',escape:'false'});"><img src='img/icons/ppt.png' width="24"/> PowerPoint</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'png',escape:'false'});"><img src='img/icons/png.png' width="24"/> PNG</a></li>
                                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'pdf',escape:'false'});"><img src='img/icons/pdf.png' width="24"/> PDF</a></li>
                                    </ul>
                                </div>                                    
                                
                            </div>
                            <div class="panel-body">
                                <table id="customers2" class="table datatable">
                                    <thead>
                                        <tr>
                                            <th>Class ID</th>
                                            <th>Level</th>
                                            <th>Stream</th>
                                            <th>Class Teacher</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                        <tr ng-repeat="class in fetched.classes">
                                            <td ng-bind="class.class_id"></td>
                                            <td ng-model="class.level" ng-required="true" contenteditable>{{class.level}}</td>
                                            <td ng-model="class.stream"  contenteditable>{{class.stream}}</td>
                                            <td ng-model="class.teacher"  contenteditable>{{class.teacher}}</td>                                           
                                            <td>
                                                <button class="btn btn-default" ng-click="update('classes',{ level: class.level, stream: class.stream, teacher: class.teacher,  extras: ' class_id=\''+class.class_id+'\''},'my-data')"><i class="fa fa-pencil"></i></button>
                                                <button ng-class="user.active?'btn btn-success':' btn btn-danger'" ng-click="update('classes',{ active:!class.active,  extras: ' class_id=\''+class.class_id+'\''},'my-data')"><i
                                                ng-class="user.active?'fa fa-eye':'fa fa-eye-slash'"></i></button>
                                                    
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>                                    
                                
                            </div>
                        </div>
                        <!-- END DATATABLE EXPORT -->  

        </div>              
 <br>
    </div>
      <br>      
    
</div>
<!-- END PAGE CONTENT WRAPPER -->             
       <br>     