<md-toolbar layout="row" class="md-hue-2 md-primary">
        <div class="md-toolbar-tools ">
            <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
        			<md-icon aria-label="Menu" md-svg-icon="img/icons/menu.svg"></md-icon>
            </md-button>
        		
        		{{nav.top.title}}
        </div>
        
</md-toolbar>

<!--
<div class="mdl-layout mdl-js-layout mdl-layout-fixed-header">
        <header class="mdl-layout__header">
                <span class="mdl-layout__header-row">
                        <span class="mdl-layout-title">Logo</span>
                        <span class="mdl-layout-spacer"></span>
                        <nav class="mdl-navigation mdl-layout--large-screen-only">
                                <a href="" class="mdl-navigation__link">Link</a>
                        </nav>
                </span>
        </header>
</div>
-->