<!--<h2 class="heading_b uk-margin-bottom">USER SIGNUP</h2>-->

<div class="md-card" style="font-family: Andale Mono,Andalemono">
    <form name="add_user_form" class="" style="" novalidate>
        <div class="md-card-content">
            <h3 class="heading_a"><u style="color:cornflowerblue;">Signup</u></h3>
            <div class="uk-grid" data-uk-grid-margin>

                <div class="uk-width-medium-1-2">
                    <div class="uk-form-row">
                        <div class="uk-grid">
                            <div class="uk-width-medium-1-2">
                                <label>First Name <sup style="color:red">*</sup></label>
                                <input 
                                type="text" 
                                name="first_name"
                                class="md-input"
                                ng-model="signup['name.first']"
                                required>
                                    <div 
                                    class="help-block" 
                                    style="font-family: Andale Mono;color:lightgray;" 
                                    ng-messages="add_user_form.first_name.$error" ng-if="add_user_form.first_name.$touched">
                                    <p ng-message="required">A first name is required.</p>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-2">
                                <label>Last Name <sup style="color:red">*</sup></label>
                                <input 
                                type="text" 
                                name="last_name"
                                class="md-input label-fixed"
                                ng-model="signup['name.last']" 
                                required>
                            </div>
                                <div 
                                class="help-block" 
                                style="font-family: Andale Mono;color:lightgray;" 
                                ng-messages="add_user_form.last_name.$error" ng-if="add_user_form.last_name.$touched">
                                <p ng-message="required">A last name is required.</p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label>Password <sup style="color:red">*</sup></label>
                        <input 
                        name="password"
                        type="password" 
                        class="md-input"
                        ng-model="signup.password" 
                        ng-pattern="app.ispassword" 
                        required>
                        <div 
                            class="help-block" 
                            style="font-family: Andale Mono;color:lightgray;" 
                            ng-messages="add_user_form.password.$error" ng-if="add_user_form.password.$touched">
                                <p ng-message="required">A password is required.</p>
                                <p ng-message="pattern">Please enter a more secure password.</p>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label>Repeat Passsword <sup style="color:red">*</sup></label>
                        <input 
                        type="password" 
                        name="password2"
                        class="md-input" 
                        ng-model="signup.password2"
                        required/>
                        <div 
                            class="help-block" 
                            style="font-family: Andale Mono;color:lightgray;" 
                            ng-messages="add_user_form.password2.$error" ng-if="add_user_form.password.$touched">
                                <p ng-message="required">Please enter a password confirmation.</p>
                                <p ng-message="pattern">Please enter a more secure password.</p>
                                <p ng-if="!app.matches(signup.password,signup.password2)&&signup.password" >The passwords don't match.</p>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <div class="uk-form-row">
                        <label>Telephone <sup style="color:red">*</sup></label>
                        <input 
                            type="text" 
                            class="md-input"
                            name="telephone" 
                            ng-model="signup.telephone" 
                            ng-pattern="app.istelephone"
                        required>
                        <div 
                            class="help-block" 
                            style="font-family: Andale Mono;color:lightgray;" 
                            ng-messages="add_user_form.telephone.$error" ng-if="add_user_form.telephone.$touched">
                                <p ng-message="required">A telephone number is required.</p>
                                <p ng-message="pattern">Please enter a valid telephone number.</p>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label>Email <sup style="color:red">*</sup></label>
                        <input 
                            type="email" 
                            class="md-input"
                            name="email" 
                            ng-model="signup.email" 
                            ng-pattern="app.isemail"
                        required>
                        <div 
                            class="help-block" 
                            style="font-family: Andale Mono;color:lightgray;" 
                            ng-messages="add_user_form.email.$error" ng-if="add_user_form.email.$touched">
                                <p ng-message="required">An email account is required.</p>
                                <p ng-message="pattern">Please enter a valid email address.</p>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label>Account Name <sup style="color:red">*</sup></label>
                        <input 
                            type="text" 
                            name="accountName"
                            class="md-input"
                            ng-model="signup['account.name']"
                            ng-minlength="5"
                            required
                        >
                        <div 
                            class="help-block" 
                            style="font-family: Andale Mono;color:lightgray;" 
                            ng-messages="add_user_form.accountName.$error" ng-if="add_user_form.accountName.$touched">
                                <p ng-message="required">An account name is required.</p>
                                <p ng-message="minlength">That account name is too short</p>
                        </div>
                    </div>

                    


                    <div class="uk-form-row">
                        <label>Account Type <sup style="color:red">*</sup></label>                        
                        <select  
                        name="role"
                        class="md-input items has-options" 
                        ng-model="signup.role"
                        required>
                            <option value="">Please pick an account type</option>
                            <option value="client">Business Account</option>
                            <option value="audit">Test Account</option>
                            <option value="admin">Administrative Account</option>
                        </select>
                        <div class="help-block" style="font-family: Andale Mono;color:lightgray;" ng-messages="add_user_form.role.$error" ng-if="add_user_form.role.$touched">
                                <p ng-message="required">A signup role is required.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-large-1-4 uk-width-medium-1-2">
                    <button  
                    ng-disabled="add_user_form.$invalid" 
                    ng-click="auth.Register(signup).then(handlers.regSuccess).catch(handlers.regError)"
                    ng-class="{'md-btn-primary' : !add_user_form.$invalid }"
                    class="md-btn "> Signup</button>
                    <br>
                    Have an Account? <a class="" ng-click="goTo('app.login')">Login</a>
                </div>
            </div>
        
        </div>
    </form>
</div>