<framify menu="true" path="x_manage_users" url="/x_manage_users" title="Manage Users" parent="true" icon="fingerprint" controller="appController" ></framify>
<ion-content scrollbar-x="false" scrollbar-y="false" style="padding-bottom:20px;">
<div  class="" ng-init="authorize();" ></div>

 <div class="" ng-if="frame.isAdmin()">
     <div class="" ng-init="fetch([['vw_users']]);frame.currTab='add'">
         
         <div class="col-lg-12">
           <div class="col-lg-12" id="response"></div>
                <ul class="nav nav-pills col-lg-12">
                    <li ng-class="{active: frame.currTab == 'add' }"><a ng-click="frame.currTab='add'">Add Departments</a></li>
                    <li ng-class="{active: frame.currTab == 'edit' }"><a ng-click="frame.currTab='edit'">Edit Departments</a></li>
                    <li ng-class="{active: frame.currTab == 'delete' }"><a ng-click="frame.currTab='delete'">Disable Departments</a></li>
                </ul>
            
                <div class="tab-content" style="padding-top:1em;">
                    <div ng-switch="frame.currTab">
                        
                        <!--ADD-->
                        <div ng-switch-when="add">
                           
                            
                            <form name="add_user_form" class="col-lg-10" style="" novalidate>
                                 <!--<div ng-if="!frame.isRoot()" class="alert alert-danger"><button class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button><center style="font-weight:bold;">Your access level does not permit you to add administrators.</center></div>-->
                                    
                                <!-- Name -->
                                <div class="form-group">
                                    <label>Full Name</label>
                                    <input type="text" name="name" class="form-control" 
                                        ng-model="data.users.name"
                                        ng-minlength="3"
                                        ng-maxlength="30"
                                        required>
                                    <div class="help-block" ng-messages="add_user_form.name.$error" ng-if="add_user_form.name.$touched">
                                        <p ng-message="minlength">Please Enter a longer Name.</p>
                                        <p ng-message="maxlength">The name you entered is too long.</p>
                                        <p ng-message="required">A name is required.</p>
                                    </div>
                                </div>          
                                          
                                <!-- username -->
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" name="username" class="form-control" 
                                        ng-model="data.users.username"
                                        ng-minlength="4"
                                        ng-maxlength="15"
                                        required>
                                    <div class="help-block" ng-messages="add_user_form.name.$error" ng-if="add_user_form.name.$touched">
                                        <p ng-message="minlength">Please Enter a valid username.</p>
                                        <p ng-message="maxlength">The username you entered is too long.</p>
                                        <p ng-message="required">A username is required.</p>
                                    </div>
                                </div>
                                
                                <!-- password-->
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" name="password" class="form-control" 
                                        ng-model="data.users.password"
                                        ng-minlength="5"
                                        ng-maxlength="50"
                                        required>
                                        
                                    <div class="help-block" ng-messages="add_user_form.password.$error" ng-if="add_user_form.password.$touched">
                                            <p ng-message="minlength">That password is too short.</p>
                                            <p ng-message="maxlength">That password is too long.</p>
                                            <p ng-message="required">A password is required.</p>
                                    </div>
                                </div>
                               
                                <!-- email -->
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" name="email" class="form-control" 
                                        ng-model="data.users.email"
                                        ng-pattern="app.isemail"
                                        required>
                                        
                                    <div class="help-block" ng-messages="add_user_form.email.$error" ng-if="add_user_form.email.$touched">
                                        <p ng-message="required">An email address is required for password recovery.</p>
                                        <p ng-message="pattern">Please enter a valid email address</p>
                                    </div>
                                </div>
                                
                                 <!-- telephone -->
                                <div class="form-group">
                                    <label>telephone</label>
                                    <input type="tel" name="telephone" class="form-control" 
                                        ng-model="data.users.telephone"
                                        ng-pattern="app.istelephone"
                                        required>
                                        
                                    <div class="help-block" ng-messages="add_user_form.telephone.$error" ng-if="add_user_form.telephone.$touched">
                                        <p ng-message="pattern">Please enter a valid telephone number</p>
                                        <p ng-message="required">Please enter a valid telephone number</p>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <!--!frame.isRoot()-->
                                    <button ng-click="add('vw_users',data.users,'response','password')" class=" button button-positive" ng-disabled="add_user_form.$invalid">Add Department</button>
                                </div>
                                
                            </form>
                            <br><br><br>
                            
                        </div>
                        
                        <!-- EDIT -->
                        <div ng-switch-when="edit" ng-if="frame.currTab=='edit'">
                            <!--<json-formatter json="fetched.vw_users" open="2"></json-formatter>-->
                            
                             <label class="item item-input pull-left col-lg-5">
                                <i class="icon ion-search placeholder-icon"></i>
                                <input type="text" class="" ng-model="search" value="" placeholder="Search"> 
                            </label>
                            <table id="table-id"  align='center'  class="table table-striped  responsive-table"  name="content">
                                <thead>
                                <tr  style="font-weight:bold; text-transform:uppercase;">                           
                                    <th ng-click="sort('name')">Name
                                        <span class="icon " ng-show="sortKey=='name'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('telephone')">Telephone
                                        <span class="icon " ng-show="sortKey=='telephone'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('email')">Email
                                        <span class="icon " ng-show="sortKey=='email'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('username')">Username
                                        <span class="icon " ng-show="sortKey=='username'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th class="noprint" style="margin:0 auto;text-align:center;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <form  name="user_edit" novalidate >
                                <tr dir-paginate="user in fetched.vw_users |orderBy:sortKey:reverse|filter:search|itemsPerPage:5" >
                                   
                                        <th scope="row" data-label="Name">{{user.name}}</th>
                                        <td data-label="Telephone" class="form-group">
                                            <input type="tel" name="telephone" class="form-control" value="{{user.telephone}}"
                                            ng-model="user.telephone"
                                            ng-minlength="10"
                                            ng-maxlength="15"
                                            ng-pattern="app.istelephone"
                                            required>
                                        </td>
                                        <td data-label="Email" class="form-group">
                                            <input type="email" name="email" class="form-control" value="{{user.email}}"
                                            ng-model="user.email"
                                            ng-minlength="4"
                                            ng-maxlength="30"
                                            ng-pattern="app.isemail"
                                            required>
                                        </td>                                        
                                        <td data-label="Username">
                                            {{user.username| lowercase}}
                                        </td>
                                        <td data-label="" class="noprint" style="margin:0 auto;text-align:center;"> {{data.temp}}
                                            <button ng-if="frame.isAdmin()" style="border-radius:50%;" ng-disabled="!app.isTelephone(user.telephone)||!app.isEmail(user.email)" class="btn btn-raised btn-md icon btn-raised ion-checkmark-round btn-success" style="font-weight:bold; font-size:1em !important; color:white !important; text-align:center;" ng-click="update('vw_users',{ email: user.email, telephone: user.telephone, extras: ' username=\'{{user.username}}\'' },'response')" ></button>
                                        </td>
                                    
                                </tr>
                                </form>
                                </tbody>
                            </table>
                            <dir-pagination-controls
                                max-size="5"
                                direction-links="true"
                                boundary-links="true" >
                            </dir-pagination-controls>
                            
                            
                            
                            <br><br><br>
                        </div>
                        
                        <!--DELETE-->
                        <div ng-switch-when="delete" ng-if="frame.currTab=='delete'" >
                            <!--<json-formatter json="fetched.vw_users" open="2"></json-formatter>-->
                            <label class="item item-input pull-left col-lg-5">
                                <i class="icon ion-search placeholder-icon"></i>
                                <input type="text" class="" ng-model="search" placeholder="Search">               
                            </label>
                            <table id="table-id"  align='center'  class="table table-striped  responsive-table"  name="content">
                                <thead>
                                <tr  style="font-weight:bold; text-transform:uppercase;">                           
                                    <th ng-click="sort('name')">Name
                                        <span class="icon " ng-show="sortKey=='name'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('telephone')">Telephone
                                        <span class="icon " ng-show="sortKey=='telephone'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('email')">Email
                                        <span class="icon " ng-show="sortKey=='email'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('username')">Username
                                        <span class="icon " ng-show="sortKey=='username'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th class="noprint" style="margin:0 auto;text-align:center;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="user in fetched.vw_users |orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                                    <th scope="row" data-label="Name">{{user.name}}</th>
                                    <td data-label="Telephone">{{user.telephone }}</td>
                                    <td data-label="Email">{{user.email| lowercase}}</td>
                                    <td data-label="Username">{{user.username| lowercase}}</td>
                                    <td data-label="" class="noprint" style="margin:0 auto;text-align:center;">
                                        <button ng-class="{'ion-eye-disabled btn-danger':!user.active,'ion-eye btn-success':user.active}" ng-disabled="!frame.isAdmin()" class="btn btn-raised btn-md icon " style="font-weight:bold; font-size:1em !important; color:white !important; text-align:center;" ng-click="update('vw_users',{ active: !user.active, extras: ' username=\'{{user.username}}\'' },'response')" ></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls
                                max-size="5"
                                direction-links="true"
                                boundary-links="true" >
                            </dir-pagination-controls>
                            
                            <br><br><br>
                        </div>
                        
                        
                    </div>                    
                </div>
            </div>
         
         
     </div>
     
     <br><br><br>
 </div>
 
 
 <br><br><br>
 </ion-content> 