<!DOCTYPE html>
<html lang="en" ng-app="bixFrame" ng-controller="appController">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="assets/css/ionic.min.css">
    <link rel="stylesheet" href="assets/css/angular-material.min.css">
    <link rel="stylesheet" href="assets/css/material.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{nav.title}}</title>
    
</head>


<body>
    <ion-view>
        <!--<ion-content>-->
            <ion-nav-bar class="bar bar-positive">
                
                <ion-nav-buttons side="left">
                    <div class="bar bar-header item-input-inset" ng-if="nav.hasFilters">
                        <label for="" class="item-input-wrapper textbox-search">
                            <i class="icon ion-ios7-search placeholder-icon" ></i>
                            <input type="search" ng-model="nav.search" placeholder="Search">
                        </label>
                   </div>
                   <a data-tap-disabled="true" class="button button-icon icon positive outline" ng-click="openFilters(nav.hasFilters);" ng-class="{'ion-search':!nav.hasFilters, 'ion-close-circled': nav.hasFilters}"> </a>
                </ion-nav-buttons>
                
                <ion-nav-title ng-show="!nav.hasFilters">
                       {{ nav.title }}
                </ion-nav-title>
                
                <ion-nav-buttons side="right">
                   <button menu-toggle="right" class="button button-icon icon ion-navicon"ng-click="nav.right.toggle()" ></button>
                </ion-nav-buttons>
                
            </ion-nav-bar>
            
            <ion-nav-view class="page-content" style="padding-bottom:40px;">
                <ion-side-menus enable-menu-with-back-views="true">
                    <ion-side-menu side="right"></ion-side-menu>
                    <ion-side-menu-content>
                        <div ng-repeat="link in links" style="margin: 0 auto;">
                            
                            <button ng-show="link.menu != 'false'" class="button" style="min-width: 200px; margin-bottom:10px;" ui-sref="{{link.path}}">{{link.title}}</button>
        
                        </div>  
                    </ion-side-menu-content>
                </ion-side-menus>
            </ion-nav-view>
             
        <!--</ion-content> -->
    </ion-view>

</body>

<!-- Angular Material Dependencies -->
<script src="assets/js/ionic.bundle.min.js"></script>
<script src="assets/js/angular-aria.min.js"></script>
<script src="assets/js/material.min.js"></script>
<script src="assets/js/angular-material.min.js"></script>
<script src="assets/js/jquery.js"></script>
<script src="application.js"></script>
<script>
  
    // var scrollTo = function(top) {
    //   var content = $(".mdl-layout__content");
    //   var target = top ? 0 : $(".page-content").height();
    //   content.stop().animate({ scrollTop: target }, "slow");
    // };

    // var scrollToTop = function() {
    //   scrollTo(true);
    // };

    // var scrollToBottom = function() {
    //   scrollTo(false);
    // };

    // $(function() {
    //   $("#scroll-up-btn").on("click",function(){ scrollToTop(); });
    //   $("#scroll-down-btn").on("click", function(){scrollToBottom();});
    // });
    
</script>
</html>
