 /**** B!xbyte @framify ****
          main css file.
 */

/* ROBOTO font setup */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url("fonts/Roboto-Light.ttf") format('truetype');
}
/* EO ROBOTO font setup */

/* FRAMIFY FONT SETUP */
@font-face {
  font-family: 'Framify';
  font-style: normal;
  font-weight: 500;
  src: local('framify'),url('fonts/Sweetly_Broken.ttf') format('truetype');
}
/*EO FRAMIFY FONT SETUP*/

button{
  transition-duration: 0.3s;
}

button:hover{
  transition-duration: 0.3s;
  box-shadow: 2px 3px grey;
}
input{
  border: 0;
}
.framify{
  font-family: framify;
  font-size: 10em;
  color:#387EF5;
  text-shadow: 3px 3px white;
}
.framify2{
  font-family: framify;
  font-size: 7em;
  color: white;
  text-shadow: 3px 3px midnightblue;
}
.bixbyte{
  font-family: framify;
  font-size: 7em;
  color: black;
  text-shadow: 3px 3px deepskyblue;
}

.item-profile{
  height: 150px;
}

.item-profile > .item-avatar > img:first-child {
  max-width: 100px;
  max-height: 100px; 
}

#resp{
  color: grey;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.bx-hov:hover {
  text-decoration: snow !important;
}
.frame-control {
  transition-duration: 1s;
  border: 1px solid #E3E3E3;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
}
.frame-control:hover {
  cursor : pointer;
  color: black;
  background-color : #F5F5F5 !important;
  transition-duration: 1s;
  text-decoration:none !important;
}
.frame-control:hover > * {
  cursor : pointer;
  color: black;
  background-color : #F5F5F5 !important;
  transition-duration: 1s;
  text-decoration:none !important;
}

/** TABLE STYLING*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 5% 3%;
}
@media (min-width: 48em) {
  .container {
    margin: 2%;
  }
}
@media (min-width: 75em) {
  .container {
    margin: 2em auto;
    max-width: 75em;
  }
}

.responsive-table {
  width: 100%;
  margin-bottom: 1.5em;
}
@media (min-width: 48em) {
  .responsive-table {
    font-size: .9em;
  }
}
@media (min-width: 62em) {
  .responsive-table {
    font-size: 1em;
  }
}
.responsive-table thead {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
@media (min-width: 48em) {
  .responsive-table thead {
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }
}
.responsive-table thead th {
  font-weight: normal;
  text-align: center;
  color: black;
}
.responsive-table thead th:first-of-type {
  text-align: left;
}
.responsive-table tbody,
.responsive-table tr,
.responsive-table th,
.responsive-table td {
  display: block;
  padding: 0;
  text-align: left;
  white-space: normal;
}
@media (min-width: 48em) {
  .responsive-table tr {
    display: table-row;
  }
}
.responsive-table th,
.responsive-table td {
  padding: .5em;
  vertical-align: middle;
}
@media (min-width: 30em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em .5em;
  }
}
@media (min-width: 48em) {
  .responsive-table th,
  .responsive-table td {
    display: table-cell;
    padding: .5em;
  }
}
@media (min-width: 62em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em .5em;
  }
}
@media (min-width: 75em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em;
  }
}
.responsive-table caption {
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 48em) {
  .responsive-table caption {
    font-size: 1.5em;
  }
}
.responsive-table tfoot {
  font-size: .8em;
  font-style: italic;
}
@media (min-width: 62em) {
  .responsive-table tfoot {
    font-size: .9em;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody {
    display: table-row-group;
  }
}
.responsive-table tbody tr {
  margin-bottom: 1em;
  border: 1px dashed lightgray;
}
@media (min-width: 48em) {
  .responsive-table tbody tr {
    display: table-row;
    border-width: 1px;
  }
}
.responsive-table tbody tr:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 48em) {
  .responsive-table tbody tr:nth-of-type(even) {
    /*background-color: rgba(94, 93, 82, 0.1);*/
  }
}
.responsive-table tbody th[scope="row"] {
  background-color: #387EF5;
  color: white;
  font-weight: bold;
}
@media (min-width: 48em) {
  .responsive-table tbody th[scope="row"] {
    background-color: transparent;
    color: gray;
  font-weight: bold;
  }
}
.responsive-table tbody td {
  text-align: right;
}
@media (min-width: 30em) {
  .responsive-table tbody td {
    border-bottom: 1px dashed lightgray ;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody td {
    text-align: center;
  }
}
.responsive-table tbody td[data-type=currency] {
  text-align: right;
}
.responsive-table tbody td[data-label]:before {
  content: attr(data-label);
  float: left;
  font-size: .8em;
  color: rgba(94, 93, 82, 0.75);
}
@media (min-width: 30em) {
  .responsive-table tbody td[data-label]:before {
    font-size: .9em;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody td[data-label]:before {
    content: none;
  }
}