<!DOCTYPE html>
<html lang="en">
<head> 
    <title>Passwords | Invalid </title>
    <link rel="icon" type="image/png" href="favicon.png">
</head>
<body>
    <div style="width:100%; min-height:100%;border:opx !important;">

        <div 
        style="width:90% !important;background-color:#1976D2;color:white;text-align:center;padding:1em; margin: 0 auto;border:1em !important; font-family:Courier New, Courier, monospace"> <font  style="font-size:1.4em;font-weight:bold;"
        >
        Framify</font> | Password Reset

        </div>

        <div style="width:90% !important;margin: 0 auto;font-family:Courier New, Courier, monospace;">
            <br>
            <font color="red" style="font-weight:bold;font-size:1.5em;">Oops!</font>
            <br><br>
            <font color="#1976D2" style="font-weight:bold;">That password reset link seems to have expired.</font>
            <br>
            <br>
            <br>
            <center> 
                <a target="_self" href="/passwords">
                    <button 
                    style="text-decoration:none !important;border-color:#1976D2 !important;color:white; text-shadow:black 2px 2px 3px , #1976D2 1px 1px 2px !important;border: 2px solid; background-color: white !important; min-height: 3em !important; min-width: 12em !important; border-radius:0.5em; font-weight:bold;"
                    >
                    Get another password reset link
                    </button>
                </a>
            </center>
            <br><br>        
            
            <hr>
            <br>
            <font color="gray">
                <b>
                    Thank you for using Framify
                </b> 
            </font>

        </div>

    </div>
    <br><br><br><br>
</body>
</html>